<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="./test/bootstrap.php" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Tests">
      <directory suffix="Test.php">./test</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing" force="true"/>
    <env name="APP_LOCALE" value="en" force="true"/>
    <env name="APP_FALLBACK_LOCALE" value="en" force="true"/>
    <env name="FILESYSTEM_DRIVER" value="minio" force="true"/>
    <env name="MINIO_ACCESS_KEY_ID" value="minioadmin" force="true"/>
    <env name="MINIO_SECRET_ACCESS_KEY" value="minioadmin" force="true"/>
    <env name="MINIO_BUCKET" value="victorsf" force="true"/>
    <env name="MINIO_ENDPOINT" value="http://minio:9000" force="true"/>
    <env name="MINIO_REGION" value="us-east-1" force="true"/>
    <env name="FILESYSTEM_PREFIX" value="development" force="true"/>
    <env name="APP_STORAGE_HEALTH_REQUIRED" value="false" force="true"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./app</directory>
    </include>
  </source>
</phpunit>
